body {
    background-image: url(../img/bg1.png);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center; 
}

.darkali {
    background-color: rgb(20, 20, 20);
    color:rgb(255, 255, 255);
}

.link {
    display: block;
    width: 100%;
    font-size:larger;
    outline-offset: 10px;
    background-color: rgb(20, 20, 20);
    outline-color: rgb(20, 20, 20);
    border-color: rgb(20, 20, 20);
    margin-bottom: 4px;
}

.text {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
}

.text h1 {
    color :white;
}
.text p {
    color :white;
    
}

hr {
    color: white;
}

.linkyy {
    display: block;
    width: 100%;
    text-decoration: none;
    background-color: rgb(20, 20, 20);
    text-align: center;
    color: white;
    font-size: 150%;
    transition: background-color 500ms linear;
    padding-top: 5%;
    padding-bottom: 5%;
}

.linkyy:hover {
    background-color: rgb(50, 50, 50);
    color: white;
    transition: background-color 500ms linear;
}

.imggg {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30%;
    display: block;
}

.ali {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.alii {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.centerhor {
    margin-top: 25%;
}

.card {
    display: inline-block;
}

.scrolly {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrolly::-webkit-scrollbar { 
    display: none;
}











